# Adresse du serveur GMAO vue depuis le téléphone ou l emulateur
# Emulateur Android : http://10.0.2.2:3000 ; telephone sur le meme Wi-Fi : http://<IP du poste>:3000
EXPO_PUBLIC_API_URL=http://10.0.2.2:3000
